[project]
	description = The ember-based front-end for the Wordset website.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Singletary (msingle)
[access "refs/for/refs/*"]
	read = group user/Matt Singletary (msingle)
	push = group user/Matt Singletary (msingle)
	label-Code-Review = -2..+2 group user/Matt Singletary (msingle)
	label-Verified = -1..+1 group user/Matt Singletary (msingle)
	rebase = group user/Matt Singletary (msingle)
	removeReviewer = group user/Matt Singletary (msingle)
	submit = group user/Matt Singletary (msingle)
[access "refs/heads/*"]
	read = group user/Matt Singletary (msingle)
	create = group user/Matt Singletary (msingle)
	push = +force group user/Matt Singletary (msingle)
	pushMerge = group user/Matt Singletary (msingle)
[access "refs/tags/*"]
	push = +force group user/Matt Singletary (msingle)
	pushTag = group user/Matt Singletary (msingle)
	pushSignedTag = group user/Matt Singletary (msingle)
